<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="index">iix-notes</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="collapse-navbar">
            <ul class="nav navbar-nav">
                <li><a ui-sref="notes">Notes</a></li>
                <li><a ui-sref="beers">Beerlist</a></li>
                <li><a ui-sref="wishlist">Wishlist</a></li>
                <li><a ui-sref="moria">Moria</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right"
                ng-controller="LoginController as user">
              <li class="dropdown">
                <a href="#" target="_self" class="dropdown-toggle" data-toggle="dropdown">
                  <b>Login</b><span class="caret"></span>
                </a>
                <ul class="dropdown-menu" id="login-dp">
                  <li>
                    <div class="row">
                      <div class="col-md-12">
                        <form class="form" role="form" method="post"
                              ng-hide="$root.logged_in">
                          <div class="form-group">
                            <label class="sr-only" for="user-input">Username</label>
                            <input type="username" class="form-control"
                                   id="user-input" placeholder="User"
                                   ng-model="user.user.username" required>
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="passwd-input">Username</label>
                            <input type="password" class="form-control"
                                   id="passwd-input" placeholder="Password"
                                   ng-model="user.user.password" required>
                          </div>
                          <div class="form-group">
                            <button ng-click="user.login()" type="submit"
                                    class="btn btn-primary btn-block"
                                    label="Login">Login</button>
                          </div>
                          <p id="login-err-msg" ng-bind="user.error_message"></p>
                        </form>
                        <div ng-show="$root.logged_in">
                          <p id="login-username"> Logged in as 
                          <strong><span ng-bind="user.user.username"></span></strong></p>
                          <button ng-click="user.logout()" type="button"
                                  class="btn btn-danger btn-block">Logout</button>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

