<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a ui-sref="notes">
                <img src="/img/notes.png" alt="notes">
                <div class="caption">
                    <h3>Notes</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a ui-sref="beers">
                <img src="/img/beers.png" alt="notes">
                <div class="caption">
                    <h3>Beers</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a ui-sref="wishlist">
                <img src="/img/wishlist.png" alt="notes">
                <div class="caption">
                    <h3>Wishlist</h3>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a ui-sref="moria">
                <img src="/img/moria.png" alt="notes">
                <div class="caption">
                    <h3>Moria</h3>
                </div>
            </a>
        </div>
    </div>
</div>