<h1>Books</h1>
<table class="table table-hover">
  <thead>
    <tr class="header">
      <th>Title</th>
      <th>Author</th>
      <th>Other</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @book.title %></td>
      <td><%= @book.author %></td>
      <td><%= @book.other %></td>
    </tr>
  </tbody>
</table>
