<div class="page-header">
    <h1 ng-hide="notes.editing" ng-bind="notes.note.title"></h1>
    <div ng-show="$root.logged_in">
      <input ng-show="notes.editing" type="text" class="form-control"
             ng-model="notes.note.title" placeholder="Title">
      <input ng-show="notes.editing" typetime="yyyy-MM-dd" class="form-control"
             ng-model="notes.note.date">
      <button ng-show="!notes.editing" ng-click="notes.edit()" type="button"
              class="btn btn-primary">Edit</button>
      <button ng-show="notes.editing" ng-click="notes.save()" type="button"
              class="btn btn-success">Save</button>
      <button ng-show="notes.editing" ng-click="notes.discard()" type="button"
              class="btn btn-warning">Discard</button>
    </div>
</div>

<div ng-hide="notes.editing" marked="notes.note.text">
</div>

<div ng-show="$root.logged_in && notes.editing" class="form-group row">
  <div class="col-md-12">
    <textarea class="form-control" ng-model="notes.note.text" rows="20"></textarea>
  </div>
</div>
