<h1>
  Books
  <button ng-show="$root.logged_in && !books.edit" ng-click="books.edit = true"
          type="button" class="btn btn-primary">Edit</button>
  <button ng-show="$root.logged_in && books.edit" ng-click="books.reset_all()"
          type="button" class="btn btn-primary">Stop editing</button>
</h1>

<table class="table table-hover">
  <thead>
    <tr class="header">
      <th>Title</th>
      <th>Author</th>
      <th>Other</th>
    </tr>
  </thead>

  <tbody ng-hide="books.edit">
    <tr ng-repeat="book in books.books">
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.other}}</td>
    </tr>
  </tbody>

  <tbody ng-show="books.edit">
    <tr ng-repeat="book in books.books">
      <td><input type="text" ng-model="book.title"></td>
      <td><input type="text" ng-model="book.author"></td>
      <td><input type="text" ng-model="book.other">
        <span class="pull-right" ng-show="$root.logged_in && books.edit">
          <button ng-click="books.save_book($index, book.id)" type="button"
                  class="btn btn-success">Save</button>
          <button ng-click="books.reset_book($index, book.id)" type="button"
                  class="btn btn-warning">Discard</button>
          <button ng-click="books.delete_book($index, book.id)" type="button"
                  class="btn btn-danger">Delete</button>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<button ng-show="$root.logged_in && books.edit" ng-click="books.add_row()"
        type="button" class="btn btn-primary">Add row</button>
