<h1>
  Books
  <button ng-hide="edit" ng-click="edit = true" type="button" class="btn btn-primary">Edit</button>
  <button ng-hide="edit" ng-click="refresh()" type="button" class="btn btn-primary">Refresh</button>
  <button ng-show="edit" ng-click="edit = false" type="button" class="btn btn-primary">Stop editing</button>
</h1>

<table class="table table-hover">
  <thead>
    <tr class="header">
      <th>Title</th>
      <th>Author</th>
      <th>Other</th>
    </tr>
  </thead>

  <tbody ng-hide="edit">
    <tr ng-repeat="book in books">
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.other}}</td>
    </tr>
  </tbody>

  <tbody ng-show="edit">
    <tr ng-repeat="book in books">
      <td><input type="text" ng-model="book.title"></td>
      <td><input type="text" ng-model="book.author"></td>
      <td><input type="text" ng-model="book.other">
        <span class="pull-right">
          <button ng-show="edit" ng-click="save_book($index, book.id)" type="button"
                  class="btn btn-success">Save</button>
          <button ng-show="edit" ng-click="reset_book($index, book.id)" type="button"
                  class="btn btn-warning">Discard</button>
          <button ng-click="delete_book($index, book.id)" type="button"
                  class="btn btn-danger">Delete</button>
        </span>
      </td>
    </tr>
  </tbody>
</table>

<button ng-show="edit" ng-click="add_row()" type="button" class="btn btn-primary">Add row</button>
